{% extends "base_generic.html" %} {% block content %}
<title>В работе</title>
<header class="header">
  <div class="container">
    <div class="header-content">
      <nav class="nav-menu" id="nav-menu">
        <a href="/workspace" class="nav-link">Главная <i class="bi bi-house-fill"></i></a>
        <a href="/workspace/in_work" class="nav-link active-link">В работе <i class="bi bi-wrench-adjustable-circle-fill"></i></a>
        <a href="/workspace/hidden" class="nav-link">Скрытые <i class="bi bi-eye-slash-fill"></i></a>
        <a href="/workspace/workers_list" class="nav-link">Работники <i class="bi bi-tools"></i></a>
        <a href="/workspace/questions" class="nav-link">
          Вопросы <i class="bi bi-question-circle"></i>
          {% if questions and questions < 9 %}
          <span class="notification-badge">{{ questions }}</span>
          {% elif questions and questions > 9 %}
          <span class="notification-badge">9+</span>
          {% endif %}
        </a>
        <a href="/workspace/migrate" class="nav-link">Импорт <i class="bi bi-arrow-bar-down"></i></a>
      </nav>
      <div class="nav-toggle" id="nav-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
</header>
<div class="centered_page">
  {% if instances %}
  <div class="default_table_container">
    <table class="default_table">
      <tr>
        <th>Изделие</th>
        <th>Работник</th>
        <th>Кол-во</th>
        {% comment %}
        <th>Ост. дней</th>
        {% endcomment %}
        <th>Стоимость</th>
        <th>Завершить</th>
      </tr>
      {% for instance in instances %}
      <tr>
        <td style="width: 15%">{% if instance.product %} {{ instance.product }} {% else %} {{ instance.part.product }} {{ instance.part.name }} {% endif %}</td>
        <td style="text-align: left">
          <a href="{{ instance.worker.get_absolute_url }}" class="table-link">{{ instance.worker }}</a>
        </td>
        <td style="width: 7%">{{ instance.amount }}</td>
        {% comment %}
        <td style="width: 15%">{% if instance.product %} {{ instance.product.get_deadline_days }} {% else %} {{ instance.part.get_deadline_days }} {% endif %}</td>
        {% endcomment %}
        <td style="text-align: left">{{ instance.get_price }} руб.</td>
        <td style="width: 5%">
          <form method="post" action="" style="display: inline">
            {% csrf_token %}
            <input type="hidden" name="work_id" value="{{ instance.id }}" />
            <button type="submit" class="finish-work-btn" onclick="return confirm('Вы действительно хотите завершить изготовление изделия');"><i class="bi bi-check-square-fill"></i></button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <h2>Изделия ещё не приняты в работу</h2>
  {% endif %}
</div>
{% endblock %}
