{% extends "base_generic.html" %} {% block content %}
<title>{{ instance }}</title>
<header class="header">
  <div class="container">
    <div class="header-content">
      <nav class="nav-left">
        <a href="/workspace" class="nav-link">Главная <i class="bi bi-house-fill"></i></a>
      </nav>
    </div>
  </div>
</header>
<div class="centered_page">
  <div class="item_block" style="max-width: 700px; border-radius: 0 0 16px 16px">
    {% if instance.product %}
    <h1>Изделие №{{ instance.product.get_id }}</h1>
    <p class="product-name">{{ instance.product.name }}</p>
    {% elif instance.part %}
    <h1>Часть №{{ instance.part.get_id }}</h1>
    <p class="product-name">{{ instance.part.name }}</p>
    {% endif %} {% if instance.product %} {% if instance.product.description %}
    <p>{{ instance.product.description }}</p>
    {% endif %} {% else %} {% if instance.part.product.description %}
    <p>{{ instance.part.product.description }}</p>
    {% endif %} {% endif %}
    <div style="margin-top: 2rem">
      <p style="font-size: x-large">К работе: <strong>{{ instance.amount }}</strong></p>
    </div>
    <form method="post" style="display: inline">
      {% csrf_token %}
      <button type="submit" name="claim_product" id="claim-btn" onclick="return confirm('Вы готовы начать изготавливать данное изделие?');">Начать работу <i class="bi bi-hammer"></i></button>
    </form>
  </div>
</div>
{% endblock %}
